<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <p style="text-align:right; font-size:0.9em; color:gray;">Projet réalisé par {{ author_name }}</p>
    <div class="container">
        <h2>Connexion</h2>

        <form method="post">
            {{ form.hidden_tag() }}

            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>

            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>

            {{ form.submit() }}
        </form>
        {% if error %}
        <p style="color:red;">{{ error }}</p>
        {% endif %}

        <p>Pas encore inscrit ? <a href="/register">S'inscrire</a></p>
    </div>
</body>
</html>
